# Suppress IDE0130 warning: "namespace should match folder structure" in specific subfolders.
[Drawing/Commands/*.cs]
dotnet_diagnostic.IDE0130.severity = none

[Drawing/Geometry/*.cs]
dotnet_diagnostic.IDE0130.severity = none

[Elements/Attributes/*.cs]
dotnet_diagnostic.IDE0130.severity = none

[Elements/Events/*.cs]
dotnet_diagnostic.IDE0130.severity = none

[Elements/Interfaces/*.cs]
dotnet_diagnostic.IDE0130.severity = none